.instructions{
    border: solid;
    border-radius: 5px;
    background-color: orange;
    margin-top: 10px;
}

.btn-primary{
    border: solid;
    border-radius: 5px;
    color: #fff;
    background-color: #337ab7;
    border-color: #FFFFFF;
    border-width: 3px;
    display: inline-block;
}

.btn-primary:hover{
    border-color: #FFFFFF;
}