#animations{
    display: none;
}
.title{
    text-align: center;
    font-weight: 300;
    margin: 0;
    top: 5%;
    width: 100%;
}

h1{
    margin: 10px;
    display: inline-block;
    font-size: 40px;

}

.moto{
    font-style: italic;
}

.pt-page-1 {
    background: #0ac2d2;
    /*background: #9696a2; grey*/
}

.pt-page-2 {
    background: #7bb7fa;
}

.pt-page-3 {
    background: #60d7a9;
}

.pt-page-4 {
    background: #fdc162;
}

.pt-page-5 {
    background: #fd6a62;
}

.pt-page-6 {
    background: #f68dbb;
}

.directions{
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
.directions::first-letter{
    font-size: 30px;
}

.selectData{
    color: rgba(255, 255, 255,.4);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}



.content{
    margin-top: 10px;
}

.wanted{
    padding: 2px;
    color: white;
    color: rgba(255, 255, 255, 1);
    background-color: #DA6666;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
}

/*.correct{*/
.highlight{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background-color: rgb(9, 219, 115);
    /*color: yellow;*/
    padding: 2px;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    color: white;
    font-size: 150%;
    box-shadow: 1px 1px 3px grey;
}

/*.object{
    padding: 10px;
    background-color: black;
    color: white;
    display: block;
    margin: 10px;
}
*/

.warning{
    background-color: #ED9D09; /*orange*/
}


.level{
    height: 100%;
    width: 100%;
    overflow: scroll;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.16);
}

.pt-page{
    overflow: scroll;
}

#xkcd{
    padding-bottom: 200px;
}

/*.scroll{*/
    /*width: 100%;*/
    /*overflow: scroll;*/
    /*height: 500px;*/
    /*background-color: rgba(0, 0, 0, 0.16);*/
/*}*/