<table cellpadding="1" cellspacing="1" ng-class="searching ? 'selectData' : ''" class="table level" id="level1">
    <tr>
        <th>Student</th>
        <th>Test Scores</th>
    </tr>
    <tr>
        <td>Tucker Nunez</td>
        <td>77</td>
    </tr>
    <tr>
        <td>Medge Benjamin</td>
        <td>78</td>
    </tr>
    <tr>
        <td>Nicholas Middleton</td>
        <td>74</td>
    </tr>
    <tr>
        <td>Rebekah Yates</td>
        <td>60</td>
    </tr>
    <tr>
        <td>Felicia Good</td>
        <td>96</td>
    </tr>
    <tr>
        <td>Iliana Shepard</td>
        <td>86</td>
    </tr>
    <tr>
        <td>Kristen White</td>
        <td>nted'">60</td>
    </tr>
    <tr>
        <td>Dieter Callahan</td>
        <td>81</td>
    </tr>
    <tr>
        <td>Edward Horn</td>
        <td>91</td>
    </tr>
</table>