<table cellpadding="1" cellspacing="1" ng-class="searching ? 'selectData' : ''" class="table" id="level1">
    <tr>
        <th>Student</th>
        <th>Test Scores</th>
    </tr>
    <tr>
        <td>Tucker Nunez</td>
        <td><span ng-class="correct ? '' : 'shake shake-little shake-constant'">77</span></td>
    </tr>
    <tr>
        <td>Medge Benjamin</td>
        <td><span ng-class="correct ? '' : 'shake shake-little shake-constant'">78</span></td>
    </tr>
    <tr>
        <td>Nicholas Middleton</td>
        <td><span ng-class="correct ? '' : 'shake shake-little shake-constant'">74</span></td>
    </tr>
    <tr>
        <td>Rebekah Yates</td>
        <td><span ng-class="searching ? 'correct' : 'shake shake-little shake-constant'">60</span></td>
    </tr>
    <tr>
        <td>Felicia Good</td>
        <td><span ng-class="correct ? '' : 'shake shake-little shake-constant'">96</span></td>
    </tr>
    <tr>
        <td>Iliana Shepard</td>
        <td><span ng-class="correct ? '' : 'shake shake-little shake-constant'">86</span></td>
    </tr>
    <tr>
        <td>Kristen White</td>
        <td><span ng-class="correct ? 'correct' : 'shake shake-little shake-constant'">60</span></td>
    </tr>
    <tr>
        <td>Dieter Callahan</td>
        <td><span ng-class="searching ? 'correct' : 'shake shake-little shake-constant'">81</span></td>
    </tr>
    <tr>
        <td>Edward Horn</td>
        <td><span ng-class="correct ? '' : 'shake shake-little shake-constant'">91</span></td>
    </tr>
</table>