<div class="col-md-8 col-md-offset-2 content">
    <p class="instructions">Type the expression in the box to select all of the test scores</p>
    <ra-regex elm-id="level1" template-name="landingPageRegex.html"></ra-regex>
</div>
<!-- 
<div class="object shake">shake</div>
<div class="object shake shake-hard">shake shake-hard</div>
<div class="object shake shake-slow">shake shake-slow</div>
<div class="object shake shake-little">shake shake-little</div>
<div class="object shake shake-horizontal">shake shake-horizontal</div>
<div class="object shake shake-vertical">shake shake-vertical</div>
<div class="object shake shake-rotate">shake shake-rotate</div> -->