<div class="title">
	<h1 class="col-md-8 col-md-offset-2">Regex Adventure</h1>
	<h3 class="col-md-8 col-md-offset-2">Gamify Regular Expressions</h3>
</div>
<div class="col-md-8 col-md-offset-2">
    <p class="instructions">Type the expression in the box to select all of the test scores</p>
    <input class="form-control input-lg" type="text" placeholder="\d">
    <table cellpadding="1" cellspacing="1" class="table" id="selectData">
    <tr>
        <th>Student</th>
        <th>Test Scores</th>
    </tr>
    <tr>
        <td>Tucker Nunez</td>
        <td>77</td>
    </tr>
    <tr>
        <td>Medge Benjamin</td>
        <td>78</td>
    </tr>
    <tr>
        <td>Nicholas Middleton</td>
        <td>74</td>
    </tr>
    <tr>
        <td>Rebekah Yates</td>
        <td>60</td>
    </tr>
    <tr>
        <td>Felicia Good</td>
        <td>96</td>
    </tr>
    <tr>
        <td>Iliana Shepard</td>
        <td>86</td>
    </tr>
    <tr>
        <td>Kristen White</td>
        <td>60</td>
    </tr>
    <tr>
        <td>Dieter Callahan</td>
        <td>81</td>
    </tr>
    <tr>
        <td>Edward Horn</td>
        <td>91</td>
    </tr>
    </table>
    <h2>Results:</h2>
</div>


