<h1>SAN QUENTIN</h1>
<p>
It was, an appeals attorney said, "a dirty little murder."

Ronald Lee Sanders is not a notorious killer.

Like most of the 167 condemned men living on San Quentin's two Death Rows, Sanders is virtually anonymous.

The murder for which he was convicted did not make the pages of The Times. It was not even a big story in Bakersfield, where it occurred.

The judge who sentenced Sanders to the gas chamber couldn't remember the details of the case 3 1/2 years later.

Sanders was sentenced to die for his role in the 1981 bludgeon killing of the girlfriend of a small-time cocaine dealer during a drug rip-off.

"I just cannot believe that Sanders' case would have been tried as a death penalty case in Los Angeles or in San Francisco or virtually any major metropolitan area," said appeals attorney Dennis Riordan.


'Doesn't Compare'

"But beyond that," he said, "it's a dirty little case. It doesn't compare to cases which, for one reason or another, are so horrid and yet (the convicted murderers) don't receive the same penalty."

In the terrible and numbing litany of crimes committed by many of those on Death Row--the torture murders, the rape killings, the child slayings, the mutilations, the multiple murders, the cold-blooded executions and the murders for hire--Sanders' case does seem less horrible than most.

And, at first glance, the articulate, seemingly well-educated Sanders appears somewhat different from his fellow Death Row inmates.

According to a 1984 report by the state Bureau of Criminal Statistics, two-thirds of the condemned men at San Quentin have an arrest record involving violence. About 41% had previously done time in state prison. Nearly 40% of them had been sentenced to the California Youth Authority as juveniles.

Undoubtedly, many of them, like inmates throughout the state prison system, grew up poor in unstable homes and without family guidance, education or training.

But Sanders doesn't seem to match that profile.

Insists He's Innocent

Insisting that he is innocent and that his conviction will be reversed on appeal, Sanders stared with wide, pale brown eyes at a visitor and told of how he copes with life on Death Row:

"To me, life is all about evaluating the images that you have within yourself and projecting those images of who you really are and living comfortably with yourself."

The image Sanders was trying to project is one of a well-mannered product of a stable, middle-American family. He told of growing up in a pleasant tract home with a two-car garage, of being an athlete at Bakersfield High School, getting good grades, graduating, marrying his high school sweetheart, attending college in Canada. . . .

Sure, he admitted, he got into trouble as a youngster. He was sent to the Youth Authority for minor offenses. And he even did some prison time for robbery, but all he was doing was helping a friend collect a debt. And he had long since returned to middle-class life before he was accused of murder.

It is an interesting image. Maybe it is the way Sanders wishes it could have been. But it is a fantasy.


Ronald Lee Sanders was born in Bakersfield on April 23, 1952. He was the second oldest of five children born to a horse trainer and his wife, who divorced when Sanders was about 11.

The children grew up mostly in Orange County, according to a sister who discussed her brother on the condition she not be identified. The youngsters were shunted from mother to father, and sometimes Ronald was sent to stay with a grandmother in Bakersfield.

The children lived in 25 to 30 different places growing up, the sister said, and when they hit their teens, they ran the streets unsupervised:

"We were just run-around kids, I guess."

All the youngsters got in trouble, the sister said.

She said she was once married to a drug addict and on one occasion was herself charged with assault with a deadly weapon, kidnaping, burglary and robbery.

Another sister, she said, died of drug-related hepatitis at the age of 17.

Constantly in Trouble

Ronald Lee Sanders is remembered by his family and acquaintances as very intelligent, but although he attended high school in Orange County he never graduated and was in almost continual trouble with the law from his early teens until his early 20s.

He was sentenced to the California Youth Authority four times, the first sentence at the age of 14 for burglary and violation of probation. At 18 he was arrested by the Fountain Valley Police Department and charged with a string of 14 armed robberies.

Sanders pleaded guilty to one of the holdups and was sent to state prison for two years and nine months. His whereabouts during his mid-20s is unclear, but before he turned 30 Sanders was back in Bakersfield, the city of his birth. On his right forearm was tattooed a Nazi, on his left, a half-naked woman wearing a ball and chain.

"He's a tough guy," said Sanders' brother-in-law.

Janice Dishroon Allen was born in Atlanta on Jan. 21, 1952, just three months before Ronald Lee Sanders.
</p>