<table cellpadding="1" cellspacing="1">
<tr>
	<th>Student</th>
	<th>Test Scores</th>
</tr>
<tr>
	<td>Tucker Nunez</td>
	<td>77</td>
</tr>
<tr>
	<td>Medge Benjamin</td>
	<td>78</td>
</tr>
<tr>
	<td>Nicholas Middleton</td>
	<td>74</td>
</tr>
<tr>
	<td>Rebekah Yates</td>
	<td>60</td>
</tr>
<tr>
	<td>Felicia Good</td>
	<td>96</td>
</tr>
<tr>
	<td>Iliana Shepard</td>
	<td>86</td>
</tr>
<tr>
	<td>Kristen White</td>
	<td>60</td>
</tr>
<tr>
	<td>Dieter Callahan</td>
	<td>81</td>
</tr>
<tr>
	<td>Edward Horn</td>
	<td>91</td>
</tr>
<tr>
	<td>Madeline Sutton</td>
	<td>98</td>
</tr>
<tr>
	<td>Silas Odom</td>
	<td>97</td>
</tr>
<tr>
	<td>Nehru Garza</td>
	<td>67</td>
</tr>
<tr>
	<td>Whoopi Clayton</td>
	<td>67</td>
</tr>
<tr>
	<td>Roary Wilson</td>
	<td>96</td>
</tr>
<tr>
	<td>Indira Black</td>
	<td>86</td>
</tr>
<tr>
	<td>Keegan Wolfe</td>
	<td>87</td>
</tr>
<tr>
	<td>Aubrey Petersen</td>
	<td>96</td>
</tr>
<tr>
	<td>Britanney Pratt</td>
	<td>91</td>
</tr>
<tr>
	<td>Valentine Simmons</td>
	<td>75</td>
</tr>
<tr>
	<td>Olympia Vazquez</td>
	<td>66</td>
</tr>
<tr>
	<td>Risa Rush</td>
	<td>61</td>
</tr>
<tr>
	<td>Maris Brewer</td>
	<td>90</td>
</tr>
<tr>
	<td>Thomas Ball</td>
	<td>60</td>
</tr>
<tr>
	<td>Tallulah Moon</td>
	<td>79</td>
</tr>
</table>