<div class="col-md-8 col-md-offset-1 content">
    <p>Now that you know how to select numbers, you can combine multiple search terms into one to select more complicated expressions. For example '\d-\d' selects a number, then the character "-", then another number, so it would match 8-4, or 9-2. Try selecting all the telephone numbers on the page.  Can I have yo Numbah?</p>
    <ra-regex elm-id="level3" template-name="level3.html" textbox-placeholder="Lemme get those digits"></ra-regex>
</div>
<div class="col-md-2" style="border: solid; border-radius: 5px; background-color: #FF0A0A; margin-top: 10px;">
    <h2>Hints</h2>
	<ul>
		<li> Remember that + lets you select one or more of the same type of character </li>
	</ul>
</div>